#banner
	.banner_content
		%h1 Cabidraw
		%p Your drawings. Organized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p moon cold-pressed mlkshk. Subway tile poke helvetica fingerstache intelligentsia, everyday carry listicle. Succulents chambray williamsburg, YOLO listicle schlitz viral gentrify chillwave cornhole whatever taxidermy ennui aesthetic. Farm-to-table tousled irony craft beer health goth. Pok pok squid messenger bag scenester, banh mi mixtape snackwave.

#bottom_cta
	.wrapper
		%h2 Go ahead!
		%br
		%button= link_to "Join Now", new_user_registration_path
